/* :root {
  --webjoongnacomblack: rgba(0, 0, 0, 1);
  --webjoongnacommalachite: rgba(0, 199, 60, 1);
  --webjoongnacomnero: rgba(255, 255, 255, 1);
  --webjoongnacomturbo: rgba(254, 229, 0, 1);
} */
