.mystore {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mystore .div {
  background-color: #ffffff;
  height: 2000px;
  position: relative;
  width: 1300px;
}

.mystore .view {
  height: 100px;
  left: 138px;
  position: absolute;
  top: 217px;
  width: 1024px;
}

.mystore .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 26px;
  font-weight: 400;
  height: 100px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -101px;
  width: 1024px;
}

.mystore .overlap-group-wrapper {
  height: 110px;
  left: 138px;
  overflow: hidden;
  position: absolute;
  top: 217px;
  width: 1028px;
}

.mystore .overlap-group {
  height: 114px;
  position: relative;
  top: 2px;
  width: 1025px;
}

.mystore .line {
  height: 2px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1024px;
}

.mystore .rectangle {
  background-color: #ffffff;
  height: 113px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1024px;
}

.mystore .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 26px;
  font-weight: 400;
  height: 48px;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
  width: 164px;
}

.mystore .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 48px;
  left: 165px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  width: 800px;
  border-color: #00000000;
}

.mystore .overlap {
  height: 683px;
  left: 138px;
  position: absolute;
  top: 327px;
  width: 1024px;
}

.mystore .view-2 {
  height: 312px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1024px;
}

.mystore .img {
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1024px;
}

.mystore .view-3 {
  background-color: #ffffff;
  height: 180px;
  left: 168px;
  position: absolute;
  top: 32px;
  width: 200px;
}

.mystore .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 26px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 168px;
}

.img-select .img-input {
  background-color: #ffffff;
  height: 30px;
  left: 0;
  top: 0;
  width: 500px;
}

.mystore .detail_text {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 26px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
  width: 150px;
}

.mystore .element {
  background-color: #ababab;
  height: 302px;
  left: 168px;
  position: absolute;
  top: 65px;
  width: 284px;
}

.mystore .view-5 {
  height: 177px;
  left: 138px;
  position: absolute;
  top: 620px;
  width: 1024px;
}

.mystore .line-2 {
  height: 1px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 1022px;
}
.mystore .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 26px;
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 64px;
  width: 168px;
}
.mystore .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 26px;
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 64px;
  width: 168px;
}

.mystore .view-6 {
  height: 48px;
  display: flex;
  left: 170px;
  position: absolute;
  top: 65px;
  width: 104px;
}

.mystore .view-10 {
  height: 200px;
  left: 138px;
  position: absolute;
  top: 770px;
  width: 1024px;
}

.mystore .overlap-2 {
  background-color: #ffffff;
  height: 224px;
  left: 168px;
  position: absolute;
  top: 65px;
  width: 856px;
}

.mystore .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 21px;
  font-weight: 400;
  height: 32px;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 76px;
}

.mystore .line-3 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1024px;
}

.mystore .view-11 {
  height: 150px; /* 변경 */
  top: 910px; /* 변경 */
  left: 138px;
  overflow: hidden;
  position: absolute;
  width: 1024px;
}

.mystore .rectangle-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  height: 48px;
  left: 168px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 164px;
  border-color: #00000000;
}

.mystore .line-4 {
  height: 1px;
  left: -138px;
  position: absolute;
  top: -1602px;
  width: 1024px;
}

.mystore .det {
  top: 1070px; /* 변경 */
  height: 265px;
  left: 138px;
  position: absolute;
  width: 1024px;
}

.mystore .details-textarea {
  background-color: #ffffff;
  height: 200px;
  left: 168px;
  position: absolute;
  top: 32px;
  width: 856px;
}

.mystore .line-5 {
  height: 1px;
  left: -138px;
  position: absolute;
  top: -1460px;
  width: 1024px;
}

.mystore .view-12 {
  height: 56px;
  color: #000000;
  left: 1002px;
  position: absolute;
  top: 1310px;
  width: 160px;
  border-radius: 10px;
  border-color: #ffffff00;
  background-color: #eeddff;
}
