.div-mx-auto {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-mx-auto .div {
  background-color: #ffffff;
  height: 3600px;
  position: relative;
  width: 1300px;
}

.div-mx-auto .div-items-start {
  align-items: flex-start;
  display: flex;
  gap: 56px;
  left: 0;
  padding: 40px 0px 80px;
  position: absolute;
  top: 0;
  width: 1300px;
}

.div-mx-auto .div-carouselwrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 612px;
}

.div-mx-auto .div-swiper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 614px;
  overflow: hidden;
  position: relative;
  width: 612px;
}

.div-mx-auto .shop {
  height: 614px;
  object-fit: cover;
  position: relative;
  width: 612px;
}

.div-mx-auto .rectangle {
  background-color: #d9d9d9;
  height: 1450px;
  margin-right: -688px;
  position: relative;
  width: 1300px;
}

.div-mx-auto .group {
  height: 367px;
  position: relative;
  width: 612px;
}

.div-mx-auto .div-flex {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--webjoongnacommercury);
  display: flex;
  left: 0;
  padding: 16px 0px 17px;
  position: absolute;
  top: 286px;
  width: 612px;
}

.div-mx-auto .button {
  background-color: var(--webjoongnacomnero);
  border: 1px solid;
  border-color: var(--webjoongnacomcod-gray);
  border-radius: 6px;
  height: 48px;
  position: relative;
  width: 298.55px;
}

.div-mx-auto .div-py {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--webjoongnacommercury);
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 16px 0px 17px;
  position: absolute;
  top: 111px;
  width: 612px;
}

.div-mx-auto .span-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 382.11px 382.11px;
  height: 20px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.div-mx-auto .span {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0.48px 0px 0px;
  position: relative;
}

.div-mx-auto .text-wrapper {
  color: var(--webjoongnacomscorpion);
  font-family: "Inter-Regular", Helvetica;
  font-size: 13.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-mx-auto .div-flex-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.div-mx-auto .div-flex-3 {
  align-items: flex-start;
  align-self: stretch;
  border-color: var(--webjoongnacommercury);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  padding: 0px 17px 0px 0px;
  position: relative;
}

.div-mx-auto .span-block {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 105px 0px 0px;
  position: relative;
  width: 100%;
}

.div-mx-auto .text-wrapper-2 {
  color: var(--webjoongnacommine-shaft);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 16.9px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-mx-auto .div-flex-4 {
  align-items: flex-start;
  align-self: stretch;
  border-color: var(--webjoongnacommercury);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  padding: 0px 17px 0px 16px;
  position: relative;
}

.div-mx-auto .div-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 124px 0px 0px;
  position: relative;
  width: 100%;
}

.div-mx-auto .div-flex-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  padding: 0px 0px 0px 16px;
  position: relative;
}

.div-mx-auto .span-block-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 156px 0px 0px;
  position: relative;
  width: 100%;
}

.div-mx-auto .text-wrapper-3 {
  color: var(--webjoongnacommine-shaft);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-mx-auto .item {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.div-mx-auto .span-inline-block {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.div-mx-auto .div-flex-6 {
  align-self: stretch;
  height: 38px;
  position: relative;
  width: 100%;
}

.div-mx-auto .div-pb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--webjoongnacommercury);
  height: 111px;
  left: 0;
  position: absolute;
  top: 0;
  width: 612px;
}

.div-mx-auto .view {
  align-items: center;
  display: flex;
  justify-content: space-around;
  left: 0;
  padding: 0px 457.89px 0px 0px;
  position: absolute;
  top: 41px;
  width: 612px;
}

.div-mx-auto .div-text-heading {
  height: 60px;
  position: relative;
  width: 154.11px;
}

.div-mx-auto .text-wrapper-4 {
  color: var(--webjoongnacommine-shaft);
  font-family: "Inter-Bold", Helvetica;
  font-size: 38.4px;
  font-weight: 700;
  height: 60px;
  left: 0;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.div-mx-auto .text-wrapper-5 {
  color: var(--webjoongnacommine-shaft);
  font-family: "Inter-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  left: 140px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
}

.div-mx-auto .heading {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 612px;
}

.div-mx-auto .text-wrapper-6 {
  color: var(--webjoongnacommine-shaft);
  font-family: "Inter-Bold", Helvetica;
  font-size: 22.9px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-mx-auto .view-2 {
  flex: 0 0 auto;
  position: relative;
}

.div-mx-auto .img {
  height: 2822px;
  left: 50px;
  position: absolute;
  top: 734px;
  width: 1200px;
}

