:root {
  --webjoongnacomblack: rgba(0, 0, 0, 1);
}

.sign {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sign .div {
  background-color: #ffffff;
  height: 1080px;
  position: relative;
  width: 1300px;
}

.sign .view {
  height: 295px;
  left: 472px;
  position: absolute;
  top: 210px;
  width: 413px;
}

.sign .overlap-group {
  height: 295px;
  position: relative;
  width: 407px;
}

.sign .text-wrapper {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(51, 0, 255) 0%,
    rgb(173.4, 0, 255) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Inter-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 0;
  width: 407px;
}

.sign .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 126px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 89px;
  width: 407px;
}

.sign .p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 126px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 169px;
  width: 407px;
}

.sign .overlap-wrapper {
  height: 48px;
  left: 484px;
  position: absolute;
  top: 505px;
  width: 386px;
}

.sign .kakaobutton {
  background-color: #ffffffa3;
  border: 0.5px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 48px;
  position: relative;
  width: 384px;
}

.sign .text-wrapper-3 {
  color: var(--webjoongnacomblack);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 13px;
  font-weight: 600;
  height: 20px;
  left: 124px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 14px;
  width: 200px;
}

.sign .overlap-group-wrapper {
  height: 48px;
  left: 484px;
  position: absolute;
  top: 565px;
  width: 386px;
}

.sign .instabutton {
  background-color: #ffffff33;
  border: 0.5px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 48px;
  position: relative;
  width: 384px;
}

.sign .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 13px;
  font-weight: 600;
  height: 20px;
  left: 118px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 14px;
  width: 176px;
}
